/* line 6, ../../assets/stylesheets/skin.scss */
.wysihtml5-toolbar {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 5px 0;
}

/* line 11, ../../assets/stylesheets/skin.scss */
.wysihtml5-button {
  float: left;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  background-color: #f0f0f0;
  cursor: pointer;
}
/* line 20, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="bold"] {
  background-image: url("/images/icons/text_bold.png");
}
/* line 25, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="italic"] {
  background-image: url("/images/icons/text_italic.png");
}
/* line 30, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="underline"] {
  background-image: url("/images/icons/text_underline.png");
}
/* line 35, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="insertOrderedList"] {
  background-image: url("/images/icons/text_list_numbers.png");
}
/* line 40, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="insertUnOrderedList"] {
  background-image: url("/images/icons/text_list_bullets.png");
}

/* line 48, ../../assets/stylesheets/skin.scss */
.wysihtml5-button-group {
  overflow: hidden;
  *zoom: 1;
  float: left;
  margin: 0 5px 0 0;
}
/* line 53, ../../assets/stylesheets/skin.scss */
.wysihtml5-button-group .wysihtml5-button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-left-width: 0px;
}
/* line 57, ../../assets/stylesheets/skin.scss */
.wysihtml5-button-group .wysihtml5-button:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left-width: 1px;
}
/* line 63, ../../assets/stylesheets/skin.scss */
.wysihtml5-button-group .wysihtml5-button:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 72, ../../assets/stylesheets/skin.scss */
.wysihtml5-command-active {
  border-color: #a3a3a3;
  background-color: #d6d6d6;
}

/* line 77, ../../assets/stylesheets/skin.scss */
.wysihtml5-icon, .wysihtml5-button[data-wysihtml5-command="bold"], .wysihtml5-button[data-wysihtml5-command="italic"], .wysihtml5-button[data-wysihtml5-command="underline"], .wysihtml5-button[data-wysihtml5-command="insertOrderedList"], .wysihtml5-button[data-wysihtml5-command="insertUnOrderedList"] {
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -3000px;
  width: 20px;
  height: 20px;
}
