/* line 6, ../../assets/stylesheets/skin.scss */
.wysihtml5-toolbar {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 5px 0;
}

/* line 11, ../../assets/stylesheets/skin.scss */
.wysihtml5-button {
  float: left;
  display: inline-block;
  margin: 0 5px 0 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  background-color: #f0f0f0;
  cursor: pointer;
}
/* line 21, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command-value="p"] {
  background-image: url("../images/icons/text_paragraph.png");
}
/* line 26, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command-value="h1"] {
  background-image: url("../images/icons/text_heading_1.png");
}
/* line 31, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command-value="h2"] {
  background-image: url("../images/icons/text_heading_2.png");
}
/* line 36, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command-value="h3"] {
  background-image: url("../images/icons/text_heading_3.png");
}
/* line 41, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command-value="h4"] {
  background-image: url("../images/icons/text_heading_4.png");
}
/* line 46, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command-value="h5"] {
  background-image: url("../images/icons/text_heading_5.png");
}
/* line 51, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command-value="h6"] {
  background-image: url("../images/icons/text_heading_6.png");
}
/* line 56, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="bold"] {
  background-image: url("../images/icons/text_bold.png");
}
/* line 61, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="italic"] {
  background-image: url("../images/icons/text_italic.png");
}
/* line 66, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="underline"] {
  background-image: url("../images/icons/text_underline.png");
}
/* line 71, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="insertOrderedList"] {
  background-image: url("../images/icons/text_list_numbers.png");
}
/* line 76, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="insertUnOrderedList"] {
  background-image: url("../images/icons/text_list_bullets.png");
}
/* line 81, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="indent"] {
  background-image: url("../images/icons/text_indent.png");
}
/* line 86, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="outdent"] {
  background-image: url("../images/icons/text_indent_remove.png");
}
/* line 91, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="viewSource"] {
  background-image: url("../images/icons/page_white_code.png");
}
/* line 96, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="insertImage"] {
  background-image: url("../images/icons/image_add.png");
}
/* line 101, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command="insertLink"] {
  background-image: url("../images/icons/link_add.png");
}
/* line 106, ../../assets/stylesheets/skin.scss */
.wysihtml5-button[data-wysihtml5-command-value^="<table"] {
  background-image: url("../images/icons/table_add.png");
}

/* line 113, ../../assets/stylesheets/skin.scss */
.wysihtml5-button-group {
  overflow: hidden;
  *zoom: 1;
  float: left;
  margin: 0 5px 0 0;
}
/* line 118, ../../assets/stylesheets/skin.scss */
.wysihtml5-button-group .wysihtml5-button {
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-left-width: 0px;
}
/* line 123, ../../assets/stylesheets/skin.scss */
.wysihtml5-button-group .wysihtml5-button:first-child {
  margin-left: 0 !important;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left-width: 1px;
}
/* line 130, ../../assets/stylesheets/skin.scss */
.wysihtml5-button-group .wysihtml5-button:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 139, ../../assets/stylesheets/skin.scss */
.wysihtml5-command-active {
  margin-left: -1px;
  border-color: #a3a3a3;
  border-width: 1px !important;
  background-color: #d6d6d6;
}

/* line 146, ../../assets/stylesheets/skin.scss */
.wysihtml5-icon, .wysihtml5-button[data-wysihtml5-command-value="p"], .wysihtml5-button[data-wysihtml5-command-value="h1"], .wysihtml5-button[data-wysihtml5-command-value="h2"], .wysihtml5-button[data-wysihtml5-command-value="h3"], .wysihtml5-button[data-wysihtml5-command-value="h4"], .wysihtml5-button[data-wysihtml5-command-value="h5"], .wysihtml5-button[data-wysihtml5-command-value="h6"], .wysihtml5-button[data-wysihtml5-command="bold"], .wysihtml5-button[data-wysihtml5-command="italic"], .wysihtml5-button[data-wysihtml5-command="underline"], .wysihtml5-button[data-wysihtml5-command="insertOrderedList"], .wysihtml5-button[data-wysihtml5-command="insertUnOrderedList"], .wysihtml5-button[data-wysihtml5-command="indent"], .wysihtml5-button[data-wysihtml5-command="outdent"], .wysihtml5-button[data-wysihtml5-command="viewSource"], .wysihtml5-button[data-wysihtml5-command="insertImage"], .wysihtml5-button[data-wysihtml5-command="insertLink"], .wysihtml5-button[data-wysihtml5-command-value^="<table"] {
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -3000px;
  width: 20px;
  height: 20px;
}

/* line 154, ../../assets/stylesheets/skin.scss */
.wysiwyg-text-decoration-underline {
  text-decoration: underline;
}

/* line 158, ../../assets/stylesheets/skin.scss */
.wysihtml5-modal {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  margin: 0 0 0 -200px;
  border: 1px solid #f0f0f0;
  padding: 50px;
  width: 300px;
  background-color: white;
}
/* line 169, ../../assets/stylesheets/skin.scss */
.wysihtml5-modal a {
  cursor: pointer;
}

/* experimental **/
/* line 176, ../../assets/stylesheets/skin.scss */
div[data-wysihtml5-dialog="insertImage"] {
  position: fixed;
  top: 50px;
  left: 50%;
  margin: 0 0 0 -165px;
  width: 310px;
  padding: 20px;
  background-color: white;
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.9) 0 0 5px;
}
/* line 188, ../../assets/stylesheets/skin.scss */
div[data-wysihtml5-dialog="insertImage"] .image {
  float: left;
}
/* line 191, ../../assets/stylesheets/skin.scss */
div[data-wysihtml5-dialog="insertImage"] .image input {
  display: none;
}
