@import "compass";

$yellow: rgba(255,204,100, 1);
$gray:   rgba(240,240,240, 1);

.wysihtml5-toolbar {
  @include clearfix;
  margin: 0 0 5px 0;
}

.wysihtml5-button {
  float: left;
  display: inline-block;
  margin: 0 5px 0 0;
  border: 1px solid #ccc;
  @include border-radius(3px);
  padding: 3px;
  background-color: $gray;
  cursor: pointer;
  
  &[data-wysihtml5-command-value="p"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_paragraph.png');
  }
  
  &[data-wysihtml5-command-value="h1"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_heading_1.png');
  }
  
  &[data-wysihtml5-command-value="h2"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_heading_2.png');
  }
  
  &[data-wysihtml5-command-value="h3"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_heading_3.png');
  }
  
  &[data-wysihtml5-command-value="h4"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_heading_4.png');
  }
  
  &[data-wysihtml5-command-value="h5"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_heading_5.png');
  }
  
  &[data-wysihtml5-command-value="h6"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_heading_6.png');
  }
  
  &[data-wysihtml5-command="bold"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_bold.png');
  }
  
  &[data-wysihtml5-command="italic"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_italic.png');
  }
  
  &[data-wysihtml5-command="underline"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_underline.png');
  }
  
  &[data-wysihtml5-command="insertOrderedList"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_list_numbers.png');
  }
  
  &[data-wysihtml5-command="insertUnOrderedList"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_list_bullets.png');
  }
  
  &[data-wysihtml5-command="indent"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_indent.png');
  }
  
  &[data-wysihtml5-command="outdent"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/text_indent_remove.png');
  }
  
  &[data-wysihtml5-command="viewSource"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/page_white_code.png');
  }
  
  &[data-wysihtml5-command="insertImage"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/image_add.png');
  }
  
  &[data-wysihtml5-command="insertLink"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/link_add.png');
  }
  
  &[data-wysihtml5-command-value^="<table"]{
    @extend .wysihtml5-icon;
    background-image: url('../images/icons/table_add.png');
  }
  
}

.wysihtml5-button-group {
  @include clearfix;
  float: left;
  margin: 0 5px 0 0;
  
  .wysihtml5-button {
    margin: 0;
    @include border-radius(0);
    border-left-width: 0px;
    
    &:first-child {
      margin-left: 0 !important;
      @include border-top-left-radius(3px);
      @include border-bottom-left-radius(3px);
      border-left-width: 1px;
    }
    
    &:last-child {
      @include border-top-right-radius(3px);
      @include border-bottom-right-radius(3px);
    }
    
  }
  
}

.wysihtml5-command-active {
  margin-left: -1px;
  border-color: darken($gray, 30%);
  border-width: 1px !important;
  background-color: darken($gray, 10%);
}

.wysihtml5-icon {
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -3000px;
  width: 20px;
  height: 20px;
}

.wysiwyg-text-decoration-underline {
  text-decoration: underline;
}

.wysihtml5-modal {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  margin: 0 0 0 -200px;
  border: 1px solid $gray;
  padding: 50px;
  width: 300px;
  background-color: white;
  
  a {
    cursor: pointer;
  }
  
}

/* experimental **/
div[data-wysihtml5-dialog="insertImage"] {
  position: fixed;
  top: 50px;
  left: 50%;
  margin: 0 0 0 -165px;
  width: 310px;
  padding: 20px;
  background-color: white;
  border: 1px solid $gray;
  @include border-radius(5px);
  @include box-shadow(transparentize(black,.1) 0 0 5px);
  
  .image {
    float: left;
    
    input {
      display: none;
    }
    
  }
}
